
body {
    background-color: rgb(9, 10, 9);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/** MAIN GRID **/

.container {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 80vh;
}

.container > div {
    color: rgb(168, 168, 168);
    border-radius: 10px;
    filter: drop-shadow(2px 2px 10px rgb(0, 0, 0));

    
    background: rgb(41,41,41);
    background: linear-gradient(180deg, rgba(41,41,41,1) 0%, rgba(36,35,35,1) 62%, rgba(50,58,53,1) 100%);
    padding: 20px;
}

.container > div:nth-child(1) {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
}

.container > div:nth-child(2) {
    grid-row: 1 / 4;
    grid-column: 2 / -1;
}

.container > div:nth-child(3) {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}

.container > div:nth-child(4) {
    grid-row: 4 / -1;
    grid-column: 1 / span 2;
}

.container > div:nth-child(5) {
    grid-row: 4 / -1;
    grid-column: -1 / -2;
}

/** ############# CONTAINERS ############# **/

/* USERS */

.users_container {
    display: grid;
    grid-template-rows: 30% 70%;
}

.users_div1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-row: 1 / 2;
}

#online {
    color: black;
    background: rgb(37,37,37);
    background: linear-gradient(40deg, rgba(37,37,37,1) 0%, rgba(194,218,78,1) 0%, rgba(74,245,134,1) 100%);
    border-radius: 30px;
    padding: 9px;
}

.users_div2 {
    grid-row: 2 / 3;
}

/* BUSINESSES */

.biz_container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding-left: 10px ;
    padding-right: 10px ;
}

.biz_div1 {
    font-size: xx-large;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.biz_div2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
    column-gap: 5px;


    opacity: 50%;
}

/* STARS */

.stars_container {
    display: grid;
    grid-template-rows: 30% 50%;

}

.stars_container h3 {
    text-align: center;
}

.stars_div1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

/* COUNTRIES */

.countries_container {
    display: grid;
    grid-template-columns: 2fr 1fr;

    overflow: hidden;
}

.countries_container img {
    transform: translate(13px, 13px);
    opacity: 70%;

    overflow: hidden;
}

/* TIME */

.time_container {
    display: grid;
    grid-template-rows: 40% 60%;
    text-align: center;
}

.time_div2,
.time_div1 {
    display: flex;
    justify-content: center;
    align-items: center;
}