body {
    background-color: rgb(230, 230, 230);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

/** ####### MAIN GRID ####### **/

.container {
    display: grid;
    grid-template-rows: 37% 50%;

    height: 100vh;
}

.title {
    text-align: center;


    border: 2px solid red;
}

.bento {
    border: 2px solid blue;
    margin: 15px;

    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 250px));
    grid-template-rows: repeat(2, minmax(200px, 250px));
    gap: 0px;
}

.bento > div {
    background-color: white;
    margin: 10px;
    border-radius: 10px;

    padding: 30px;
}

.bento > div:nth-child(1) {
    grid-column: 1 / span 2;
    grid-row: span 1;
}

.bento > div:nth-child(2) {
    grid-column: 1 / 2;
    grid-row: span 1;
}

.bento > div:nth-child(3) {
    grid-column: 2 / 3;
    grid-row: span 1;
}

.bento > div:nth-child(4) {
    grid-column: 3 / 5;
    grid-row: 1 / -1;
}

/** ####### CONTAINER CHILDREN ####### **/

/* SIGN ON */

.signin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    padding: 20px;
    
}

/* API */

.api {
    text-align: center;

    padding: 20px;
}

/* PROVIDER */

.provider {
    text-align: center;
    display: grid;
    grid-template-rows: 1fr;
}

.provider h3 {
    font-size:60px;
}

/* ABOUT */

.about {
    padding: 20px;

    display: grid;
    grid-template-rows: 1fr, 4fr, 6fr;
}

.about h3 {
    font-size: x-large;

    display: flex;
    justify-content: center;
    align-items: end;
}

.about p {
    display: flex;
    justify-content: center;
    align-items: start;

    color: gray;
}

.about div {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}